<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<div th:replace="fragments :: head"></div>
	<title th:text="${title}"></title>
</head>

<body>
	<nav th:replace="fragments :: nav"></nav>
	<div class="container-fluid text-center">
	<h1 th:replace="fragments :: title"></h1>
	<div class="row justify-content-center">
		<div class="col-9 col-sm-2">
			<h2 th:text="${title}"></h2>
			<ul th:if="${list.size() > 0}" class="list group">
				<li class="list-group-item"th:each="item : ${list}" th:text="${item}"></li>
			</ul>
			<p th:unless="${list.size() > 0}">No elements in list</p>
		</div>
	</div>
	</div>
	<div th:replace="fragments :: scripts"></div>
</body>

</html>